body {
    background-color: #000000;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.you-text {
    color: rgb(203, 203, 198);
    margin: 1vw;
    font-size: 10vw;
}

a {
    text-decoration: none;  
    color: blueviolet;
}

a:hover {
    color: aqua;
    text-decoration: underline;
}